.projects {
  background-color: #3f6363;
  color:rgb(211, 207, 207);

  .placeholder {
    width: 80% !important;
    height: 80% !important;
    color: rgba(129, 123, 123, 0.445)!important;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    text-align: center;
    transform: scale(0, 0);

    .project {
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.projects.focused {
  transform: scale(1.5, 1.5);
  transform-origin: bottom left;
  .placeholder {
    width: 35px !important;
    height: 35px !important;
  }
}
