.education {
  width: 40%;
  height: 100%;
  background-color: rgb(146, 122, 92);
  transition: all 0.3s ease-in-out;
  transform: scale(1, 1);
  opacity: 1;
  position: relative;
  /* padding: 20px; */
}

.education.focused {
  z-index: 5;
  transform: scale(1.7, 1.5);
  transform-origin: top;
  opacity: 1;
}
.education.shaded {
  opacity: 0.2;
  /* background-color: rgb(117, 117, 117); */
}

.education svg {
  transition: all 0.3s ease-in-out;
  /* position: absolute; */
}
.education.focused .placeholder {
  position: relative;
  width: 30px!important;
  height: 30px!important;
  top: 1%;
  left: 1%;
  transform: rotate(-20deg);
}

.education .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  text-align: center;
  transform: scale(0,0);
  transition: all 0.3s ease-in-out;  
}

.education.focused .container{
  transform: scale(1,1);
  padding: 2% 12%;
}

.education .container .header {
  text-align: left;
}

.education .container .info {
  padding-top: 10%;
  text-align: left;
}

.education .container .college {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
