.photography {
  background-color: #333;
  color: rgb(211, 207, 207);

  .placeholder {
    height: 110% !important;
  }
}

.photography.focused {
  transform: scale(2, 1.8);
  transform-origin: bottom right;
  .placeholder {
    width: 25px !important;
    height: 25px !important;
    transform: rotate(720deg);
  }
  .container {
    position: relative;
    overflow: auto;
    .header {
      top:1%;
      background-color: rgba(207, 200, 200, 0.055)!important;
      padding: 3px!important;
      border-radius: 3px;
    }

    .gallary {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      overflow: auto!important;
    }
  }
}

img {
  height: 50px;
  width: 50px;
}
