.app {
  /* box-sizing: border-box; */
}
.row {
  width: 100vw;
  height: 49vh;
  display: flex;
  box-sizing: border-box;
  padding-left: 1%;
}
.row:first-child {
  margin: 5px 0;
}

.row section {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;;
}

/*  */
section > svg {
  width: 90% !important;
  height: 90% !important;
  margin: auto;
  color: rgba(105, 98, 98, 0.514);
}

/* section-wise */
.logo,
.education,
.projects,
.work-experience,
.technology-stack,
.photography {
  position: relative;
}

.logo .container,
.education .container,
.projects .container,
.work-experience .container,
.technology-stack .container,
.photography .container{
  overflow-y: auto!important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* focused */
.logo.focused,
.education.focused,
.projects.focused,
.work-experience.focused,
.technology-stack.focused,
.photography.focused {
  z-index: 5;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 1px gray;
}

/* shaded */
.logo.shaded,
.education.shaded,
.projects.shaded,
.work-experience.shaded,
.technology-stack.shaded,
.photography.shaded {
  opacity: 0.2;
  /* background-color: rgb(117, 117, 117); */
}

.logo .placeholder,
.education .placeholder,
.projects .placeholder,
.work-experience .placeholder,
.technology-stack .placeholder,
.photography .placeholder {
  position: absolute !important;
}
