.App {
  text-align: center;
}
header, section{
  margin-top: 5px;
  margin-bottom: 15px;
}
ul{
  display: flex;
  justify-content: space-around;
  float: right;
  width: 100%;
}
li{
  list-style: none;
}
section{
  height: 80vh;
  display: block;
}
section:nth-child(even){
  background: grey;
}
section:nth-child(odd){
  background: #333;
}